@{
    ViewData["Title"] = "Home Page";
    ViewData["CurrentYear"] = DateTime.Now.Year.ToString();
}

<div class="text-center">
    <h1 class="display-4">Hello World!!!!</h1>
    <p>Lucas Breno de Souza Noronha Braga</p>
    <img src="~/img/smile.jpg" alt="Smile Face" />
    <p>Available at https://www.istockphoto.com/vector/yellow-happy-face-vector-symbol-icon-gm1388186992-445903229?phrase=smile&searchscope=image%2Cfilm</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
